<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="application.js"></script>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
</head>
<body>
  <div id="container">
    <form action="/deedeedee" method="post">
      <textarea name="comment" rows="2" cols="50" placeholder="comment here..."></textarea>
      <input type="submit" value="Send It!">
    </form>

    <div class="comments"></div>
  </div>
</body>
</html>
